@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');
:root {
  --primary-light-bg: #ffffff; /* Cor de fundo no modo claro */
  --primary-light-text: #000000; /* Cor do texto no modo claro */
  --primary-dark-bg: #1F252E; /* Cor de fundo no modo escuro */
  --primary-dark-text: #ffffff; /* Cor do texto no modo escuro */
  --primary-titulo-text: #f9532d
}
body {
  margin: 0;
  font-family: 'Poppins', 'Outfit', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modo-escuro {
  background-color: var(--primary-dark-bg);
  color: var(--primary-dark-text);
}

.list{
  display: flex;
  justify-content: space-between;
}
.listItems {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.listItems li{
  margin-left: 10px;
}
@media (max-width: 600px) {
  .icon {
    position: fixed;
    z-index: 4;
    top: 2%;
    right: 6%;
    width: fit-content;
    height: 44px;
    cursor: pointer;
  }
  .logo {
    display: none;
  }
  .hamburguer {
    top: 50%;
    right: 10%;
    width: 30px;
    height: 6px;
    background: var(--primary-titulo-text);
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .hamburguer::before {
    top: -12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background: var(--primary-titulo-text);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0,2);
    transition: 0.5s;
  }
  .hamburguer::after {
    top: 12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background: var(--primary-titulo-text);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0,2);
    transition: 0.5s;
  }
  .listItems{
    display: flex;
    flex-direction: column;
    background-color: #1F252E;
  }
  .list {
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--primary-light-text);
    
  }
  .list .listItems{
    padding: 0;
    list-style: none;
  }
  .list .listItems li {
    margin: 2px 8px;
    cursor: pointer;
  }
  .list .listItems li:hover {
    font-weight: 800;
  }
  .icon.iconActive .hamburguer{
    background-color: transparent;
    box-shadow: 0 2px 5px transparent;
  }
  .icon.iconActive .hamburguer::after{
    top: 0;
    background: var();
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
  .icon.iconActive .hamburguer::before{
    top: 0;
    background: var(--primary-titulo-text);
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .menu.menuOpen {
    background-color: #1F252E;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
  .menu.menuClose {
    display: none;
    width: 0;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info{
  display: flex;
  flex-direction: column;
}
.name{
  display: flex;
}
span h1{
  font-size: 50px;
}
.name_complete {
  margin-right: 10px;
  color: var(--primary-titulo-text);
}
.main {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: center;
}
.images {
  border-radius: 10px;
  width: 450px;
  /* opacity: 0; */
  /* animation: imageAni 1s ease forwards; */
  /* animation-delay: 1.5s */
}
.images {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  border-top: 2px solid var(--primary-titulo-text);
}
section span {
  display: flex;
  flex-direction: row;
}
.container_about {
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
}
.titulo {
  margin-left: 15px;
}
.subtitulo {
  margin-left: 20px;
}
.description {
  margin: 15px;
}
.container_skills {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section_skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid_skills {
  display: grid;
  grid-template-columns: repeat(4, 150px); /* 4 colunas de 250px cada */
  gap: 5px; /* Espaçamento entre as colunas */
}


.card_skills {
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.icones_skills {
  width: 60px;
  width: 80px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.icones_skills:hover{
  transform: scale(1.2);
}

.container_services{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.services_grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 5px;  /* Espaço entre as imagens, ajuste conforme necessário */
}

.card_services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}


.container {
  position: relative;
}

.tooltip {
  display: block;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
}
.hire section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn_hire {
  background-color: #1F252E;
  color: #e2e8ec;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.container_hire {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd;
  color: var(--primary-light-text);
  margin-bottom: 10px;
}
div .portfolio_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd;
  color: #fff;
}
.portfolio_card {

}
.list_portfolio {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-dark-text);
  box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
}
.btn_acess {
  background-color: #fff;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  margin-top: 10px;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: var(--primary-dark-text);
  box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
}
.all_reservs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all_reservs p{
  font-size: 12px;
}
.all_reservs h4 {
  font-weight: 300;
}


/*  Responsividade  */

@media screen and (max-width: 400px) {
  .info{
    display: flex;
    flex-direction: column;
    flex-direction: column;
  }
  .info h3 {
    font-size: 16px;
    margin-left: 20px;
  }
  .about_p {
    font-size: 16px;
    text-align: center;
    margin: 5px;
  }
  .name{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span h1{
    font-size: 38px;
  }
  .name_complete {
    margin-right: 5px;
    color: var(--primary-titulo-text);
  }
  .main {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .foto_perfil {
    width: 350px;
  }
  .images {
    border-radius: 10px;
    width: 350px;
  }
  .container_about {
    display: flex;
    flex-direction: column;
  }
  .description {
    font-size: 18px;
    text-align: justify;
  }
  .img_about {
    width: 300px;
  }
  .container_about span {
    display: flex;
    flex-direction: column;
  }
  .container_skills {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section_skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grid_skills {
    display: grid;
    grid-template-columns: repeat(2, 150px); /* 4 colunas de 250px cada */
    gap: 5px; /* Espaçamento entre as colunas */
  }
  .card_skills {
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
  .icones_skills {
    padding: 8px;
    width: 60px;
    height: 80;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .container_services{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .services_grid {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    gap: 5px;  /* Espaço entre as imagens, ajuste conforme necessário */
  }
  .card_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .container {
    position: relative;
  }

}