@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');
:root {
  --primary-light-bg: #ffffff; /* Cor de fundo no modo claro */
  --primary-light-text: #000000; /* Cor do texto no modo claro */
  --primary-dark-bg: #1F252E; /* Cor de fundo no modo escuro */
  --primary-dark-text: #ffffff; /* Cor do texto no modo escuro */
  --primary-titulo-text: #f9532d
}
body {
  margin: 0;
  font-family: 'Poppins', 'Outfit', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modo-escuro {
  background-color: var(--primary-dark-bg);
  color: var(--primary-dark-text);
}

header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  background-color: var(--primary-light-bg);
  color: var(--primary-light-text);
  box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
}

header ul {
  display: flex;
  padding: 5px;
}
header ul a {
  padding: 5px;
}
.container {
  display: flex;
 
  justify-content: center;
  align-items: center;
}
.info{
  display: flex;
  flex-direction: column;
}
.name{
  display: flex;
}
span h1{
  font-size: 50px;
}
.name_complete {
  margin-right: 10px;
  color: var(--primary-titulo-text);
}
.main {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: center;
}
.images {
  border-radius: 10px;
  width: 450px;
  /* opacity: 0; */
  /* animation: imageAni 1s ease forwards; */
  /* animation-delay: 1.5s */
}
.images {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  border-top: 2px solid var(--primary-titulo-text);
}